*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 53px;
    background: #222121;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #f8f4f4;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #a09d9d;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 100vh !important;
    background: url(img/header.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ebe4e4;
}

p {
    margin-bottom: 30px;
    font-size: 15px;
    color: #fff;
    padding: 0 110px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 20px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 5px;
    background: #171717
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 10rem;
    width: 20rem;
    background: #171717;
    text-align: center;
    border-radius: 6rem;
    box-shadow: 0 .3rem 5rem rgba(245, 235, 235, 0.5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 40%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 3;

}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;

}

.box-container .box p {
    padding: 0 19px;
    font-size: 19px;
}

.about {
    background: #171717;
}

.price {
    background: url(img/costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    padding-top: 30px;
    background: #171717;
    padding-bottom: 0;
}


@media (max-width: 600px) {

    .title {
        margin-bottom: 0;
        font-size: 60px;
    }

    .sau {
        height: 150vh;
    }

    .navbar {
        display: none;
    }
   
    
}